@page "/newtonsoft"

<h3>Newtonsoft</h3>

<p> @json </p>

<button @onclick="ConvertToJson">Convert to json</button>

@code {
    private string json = "Hello World";



    public class Person
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Address { get; set; }

        public Person(int Id, string Name, string Address)
        {
            this.Id = Id;
            this.Name = Name;
            this.Address = Address;
        }
    }

    public async Task ConvertToJson()
    {
        Person person1 = new Person(1, "Ian", "Gais");
        
        json = JsonConvert.SerializeObject(person1);
    }
}
