@page "/status"

<h3>WeatherFetcherStatus</h3>
    @status
    <MudButton></MudButton>

@code {
    public static bool isRunning = true;
    public string status;

    public void StatusChecker()
    {
        if (isRunning == true)
        {
            status = "The service is running correctly";
        }
        else
        {
            status = "The service is NOT running correctly";
        }
    }
    
}
